.navOpen {
  background-color: #dcbda2;
  height: 50px;
  display: flex;
  width: 20%;
  align-items: center;
  transition: all 0.5s;

  @media screen and (max-width: 500px) {
    width: 100%;
  }

  .hamburgerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: hamburgerAnim 0.5s;
    animation-delay: 0.1s;
    height: 40%;
    margin-left: 8px;
    cursor: pointer;
    span {
      width: 20px;
      height: 2px;
      background-color: black;
    }
  }

  .linkContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    a {
      text-decoration: none;
      color: #000955;
      font-size: 1.2rem;
    }
  }

  @keyframes hamburgerAnim {
    0% {
      height: 70%;
    }
    50% {
      height: 20%;
    }

    100% {
      height: 40%;
    }
  }
}

.navClose {
  background-color: #dcbda2;
  height: 50px;
  display: flex;
  width: 2%;
  align-items: center;
  transition: all 0.5s;

  @media screen and (max-width: 500px) {
    width: 20%;
  }

  .hamburgerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: hamburgerAnimClose 1s;
    animation-delay: 0.3s;
    height: 40%;
    width: 40%;
    margin-left: 8px;
    cursor: pointer;
    span {
      width: 2px;
      height: 20px;
      background-color: black;
    }
  }

  @keyframes hamburgerAnimClose {
    0% {
      width: 40%;
    }
    50% {
      width: 20%;
    }
    100% {
      width: 40%;
    }
  }
}
